<%= simple_form_for @fan, remote: true do |f| %> 
	<p>Fan Response</p>    
    <%= f.input :Name, label: "First Name:  ", input_html: { :name => "name" } %> 
    <%= f.input :contact, label: "Email Address:  ", input_html: { :name => "email" } %>
    <%= f.input :comment, label: "Leave A Comment: ", input_html: { :name => "comment" } %>
    <%= f.input :state, label: "Your Location: ", input_html: { :name => "state" } %>
    <%= f.input :book, label: "Pick A Book: ", input_html: { :name => "book" } %>
    <%= f.input :review, label: "Leave A Review: ", input_html: { :name => "review" } %>
    <%= f.input :stars, label: "How many stars would you rate it? : ", input_html: { :name => "stars" } %>
    <%= f.submit %>
<% end %>
