<%= simple_form_for @fan do |f| %> 
		    <div class='container'>
		    	<div class="card">
		    		<div class="container">
		  				<p>Fan Response</p>    
					    <%= f.input :Name, label: "First Name:  " %> 
					    <%= f.input :contact, label: "Email Address:  " %>
					    <%= f.input :comment, label: "Leave A Comment: " %>
					    <%= f.input :state, label: "Your Location: " %>
					    <%= f.input :book, label: "Pick A Book: " %>
					    <%= f.input :review, label: "Leave A Review: " %>
					    <%= f.input :stars, label: "How many stars would you rate it? : " %>

					    <div class="fan_submit"><%= f.submit 'Submit Fan' %></div>
					</div>
				</div>
			</div>
<% end %>

