<%= simple_form_for(@help, :method => :get, :remote => true) do |h| %> 
		    <div class='container'>
		    	<div class="card">
		    		<div class="container">
		  				<p>Creative writing</p>
		  				<p>I've been writing for as long as I can remember, I've written one novel, am working on a second. Whether you're looking for a short story or help working on your screen-play, I'm the man for the job.</p>    
					    <%= h.input :Name, label: "First Name:  " %> 
					    <%= h.input :contact, label: "Email Address:  " %>
					    <%= h.input :project, label: "Project Name: " %>
					    <%= h.input :comments, label: "About Your Project: " %>

					    <%= h.submit %>				    
					</div>
				</div>
			</div>
<% end %>