<%= simple_form_for(@web, :method => :get, :remote => true) do |f| %> 

		    <div class='container'>
		    	<div class="card">
		    		<div class="container">

		    			<p>Web Design!</p>

						<p>This webstie was created with Ruby on Rails. Rails was the first programming language I learned and the one I feel the most familiar with.</p>

						<p>On top of that I'm also familiar with Jquery, React, and a little bit of Java.</p>

		  				<p>web design</p>
					    
					    <%= f.input :company, label: "Compny Name:  " %> 
					    <%= f.input :contact, label: "Email Address:  " %>
					    <%= f.input :reason, label: "Reason: " %>
					    <%= f.input :state, label: "Your Location: " %>
					    <%= f.input :comments, label: "Comments: " %>
					</div>
				</div>
			</div>
<% end %>
