<div class='card' >
	
	
	<div class='card' background="">
		<div class="card">
			<h1 style="font-size:800%; text-align: center;"> Kerron Streater</h1>
		</div>
		<p style="text-align: center; font-size:45px"> Welcome, Traveler! This is my site.</p>

		<p style='text-align: center; font-size:26px'>Whether you've found your way here through word of mouth, a business card, LinkedIn, or a conversation with yours truly, I'm happy to have you!</p>

		<p>I'm a bit of a jack of all trades, so before we get started... what brings you here?</p>

		<p style="text-align: center"><text class='fan' style="font-size:30px;">I'm A Fan</text> <text class='creative' style="font-size:30px;">Creative Writing</text> <text class='webdesign' style="font-size:30px;">Web Design</text></p>

		<div style="text-align: center;">
			<div id="render_fan">
				<%= render 'fan', fan: @fan %>
			</div>

			<div id="render_web">
				<%= render 'webdesign', web_employer: @web %>
			</div>

			<div id="render_help">
				<%= render 'help', help: @help %>
			</div>
		</div>
	


		<p>Contact me</p>
		<p>This is the digital age, keeping in touch shouldn't be too hard. You can find me on these platforms</p>
	</div>


	<%= form_for @fan, remote: true do |f| %>
	  <div class="form-group">
	    <%= f.text_field :Name, placeholder: "Fan name?" %>
	  </div>

	  <div class="form-group">
	    <%= f.text_field :contact, placeholder: "Contact info?" %>
	  </div>

	  <div class="form-group">
	    <%= f.submit %>
	  </div>
	<% end %>

	<br>

	<p>________________________________________</p>

	<p>Something should be here: </p>
	<ul>
	  <% @webs.each do |web| %>  
	    <li id="<%= web.id %>">
	      <%= web.company %>
	      <br>
	      <strong>Comments: </strong><%= web.comments %><br>
	    </li>
	  <% end %>
	</ul>

	<p>________________________________________</p>

	<ul>
	  <%= render @todo  %>
	</ul>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>